---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: jellyfin
  namespace: media
spec:
  interval: 15m
  chart:
    spec:
      chart: jellyfin
      version: 22.2.11
      sourceRef:
        kind: HelmRepository
        name: truecharts
        namespace: flux-system
      interval: 15m  
  timeout: 20m
  maxHistory: 3 
  driftDetection:
    mode: warn   
  install:
    createNamespace: true
    remediation:
      retries: 3   
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  values:

    TZ: Europe/Paris
        
    credentials:
      minio:
        type: s3
        url: "${S3_URL}"
        bucket: "taloscluster"
        accessKey: "${S3_ACCESKEY}"
        secretKey: "${S3_SECRETKEY}"
        encrKey: "${S3_ENCRKEY}"    

    ingress:
      main:
        enabled: true
        ingressClassName: external 
        integrations:
          certManager:
            enabled: true
            certificateIssuer: domain-0-le-prod 
        hosts:
          - host: jellyfin.${DOMAIN_0}
            paths:
              - path: /
                pathType: Prefix        
       
    persistence:
      config:
        enabled: true
        volsync:
          - name: config
            type: restic
            credentials: minio
            dest:               #VolSync Destination (Restore)
              enabled: true
            src:                #VolSync Source (Backup)
              enabled: true
        
      data:
        enabled: true
        volsync:
          - name: data
            type: restic
            credentials: minio
            src:
              enabled: true
            dest:
              enabled: true

      multimedia:
        enabled: true
        type: nfs
        server: ${TRUENAS_IP}
        path: ${JELLYFIN_NFS_PATH}
        mountPath: /data/multimedia
    
    workload:
      main:
        podSpec:
          containers:
            main:
              env:
#                JELLYFIN_DATA_DIR: /config
                JELLYFIN_CONFIG_DIR: /config/config
#                JELLYFIN_CACHE_DIR: /cache
#                JELLYFIN_LOG_DIR: /logs    