apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: nextcloud
  namespace: nextcloud
spec:
  interval: 15m
  chart:
    spec:
      chart: nextcloud
      version: 40.4.14
      sourceRef:
        kind: HelmRepository
        name: truecharts
        namespace: flux-system
      interval: 15m
  maxHistory: 10        
  driftDetection:
    mode: warn
  install:
    createNamespace: true
    crds: CreateReplace
    remediation:
      retries: 3
  upgrade:
    crds: CreateReplace
    remediation:
      retries: 3
  timeout: 20m
  values:
    global:
      stopAll: false
    credentials:
      minio:
        type: s3
        url: "${S3_URL}"
        bucket: "taloscluster"
        accessKey: "${S3_ACCESKEY}"
        secretKey: "${S3_SECRETKEY}"
        encrKey: "${S3_ENCRKEY}"
    ingress:
      main:
        enabled: true
        ingressClassName: external
        integrations:
          certManager:
            enabled: true
            certificateIssuer: domain-0-le-prod
        hosts:
          - host: cloud.${DOMAIN_0}
            paths:
              - path: /
                pathType: Prefix  
        

    cnpg:
      main:
        cluster:
          singleNode: true
        mode: recovery #standalone
        backups:
          enabled: true
          credentials: minio
        recovery:
          method: object_store
          credentials: minio
    persistence:
      config:
        volsync:
          - name: config
            type: restic
            credentials: minio
            dest:
              enabled: true
            src:
              enabled: true
      data:
        enabled: true
        type: nfs
        path: ${NEXTCLOUD_NFS_PATH}
        server: ${TRUENAS_IP}
      html:
        volsync:
          - name: html
            type: restic
            credentials: minio
            dest:
              enabled: true
            src:
              enabled: true

    nextcloud:
      collabora:
        enabled: true
        password: "${NEXTCLOUD_PASSWORD}"
      credentials:
        initialAdminPassword: "${NEXTCLOUD_PASSWORD}"
        initialAdminUser: "${NEXTCLOUD_USER}"
      general:
        accessIP: ${NGINX_EXTERNAL_IP}
        default_phone_region: FR
      previews:
        providers:
        - BMP
        - GIF
        - JPEG
        - Krita
        - MarkDown
        - MP3
        - OpenDocument
        - PNG
        - TXT
        - XBitmap